.services-container {
    padding: 140px 0px;
    background-color: #FFFFFF80;
    position: relative;
    padding-right: 169px;
    height: 610px;
}
.services-box {
    height: 888px;
    width: 75%;
    background-color: #25A0A014;
    position: absolute;
    top: 0px;
    right: 0px;
}
.services-icon1 {
    width: 173px;
    height: 189px;
    position: absolute;
    top: 2px;
    left: 505px;
}
.services-icon2 {
    width: 202px;
    height: 222px;
    position: absolute;
    top: 482px;
    left: 147px;
}
.services-icon3 {
    height: 227px;
    position: absolute;
    top: 100px;
    right: 0px;
}
.services-section1 {
    display: flex;
    align-items: center;
    gap: 23px;
    position: relative;
    padding-left: 170px;
}
.services-section1-text {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    max-width: 500px;
    text-transform: capitalize;
    color: #000000;
}
.services-section1-text2 {
    display: none;
}
.services-section1-box-wrapper {
    display: flex;
    align-items: center;
    gap: 23px;
}
.services-section1-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 215px;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    padding: 36px 0px;
    transition: all 0.25s ease;
}
.services-section1-box:hover {
    background-color: #25A0A0;
}
.services-sections-box-icon {
    height: 40px;
    width: 40px;
    color: #25A0A0;
    transition: all 0.25s ease;
}
.services-section1-box:hover .services-sections-box-icon {
    color: #FFFFFF;
}
.services-section1-box-text {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    transition: 0.25s ease;
    text-transform: capitalize;
}
.services-section1-box:hover .services-section1-box-text {
    color: #FFFFFF;
}
.services-section2 {
    position: absolute;
    left: 457px;
    display: flex;
    align-items: center;
    gap: 23px;
}
.services-section1-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 215px;
    background-color: #25A0A0;
    border-radius: 20px;
    cursor: pointer;
    padding: 36px 0px;
    transition: background-color 0.25s ease;
}
.services-section1-box2:hover {
    background-color: #FFFFFF;
}
.services-sections-box-icon2 {
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    transition: color 0.25s ease;
}
.services-section1-box2:hover .services-sections-box-icon2 {
    color: #25A0A0;
}
.services-section1-box-text2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.25s ease;
    text-transform: capitalize;
}
.services-section1-box2:hover .services-section1-box-text2 {
    color: #000000;
}

/**! MOBILE PHONE STYLE DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .services-container {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 49px;
        padding: 50px 20px;
        background-color: #EEF7F7;
    }
    .services-box {
        display: none;
    }
    .services-icon1 {
        display: none;
    }
    .services-icon2 {
        display: none;
    }
    .services-icon3 {
        display: none;
    }
    .services-section1 {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 49px;
    }
    .services-section1-box-wrapper {
        all: unset;
        display: flex;
        flex-direction: column;
        gap: 12.57px;
        height: 100%;
    }
    .services-section1-box {
        all: unset;
        width: 161px;
        height: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10.93px;
        background-color: #FFFFFF;
        border-radius: 20.93px;
        box-shadow: 0px 2.19px 6.56px rgba(0, 0, 0, 0.1);
    }
    .services-section1-box-text {
        font-size: 16.39px;
        line-height: 16.39px;
    }
    .services-section1-text {
        display: none;
    }
    .services-section1-text2 {
        display: block;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        text-transform: capitalize;
        font-weight: 500;
        max-width: 335px;
    }
    .services-sections-wrapper {
        display: flex;
        gap: 20px;
    }
    .services-section2 {
        all: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
    .services-section1-box2 {
        all: unset;
        width: 161px;
        height: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10.93px;
        background-color: #25A0A0;
        border-radius: 20.93px;
        box-shadow: 0px 2.19px 6.56px rgba(0, 0, 0, 0.1);
    }
    .services-section1-box-text2 {
        font-size: 16.39px;
        line-height: 16.39px;
    }
}

/**! IPAD AIR, IPAD MINI AND SMALL TABS*/
@media screen and (min-width: 768px) and (max-width: 932px) {
    .services-container {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 49px;
        padding: 50px 20px;
        background-color: #EEF7F7;
    }
    .services-box {
        display: none;
    }
    .services-icon1 {
        display: none;
    }
    .services-icon2 {
        display: none;
    }
    .services-icon3 {
        display: none;
    }
    .services-section1 {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 49px;
        flex-wrap: wrap;
    }
    .services-section1-box-wrapper {
        all: unset;
        display: flex;
        flex-direction: column;
        gap: 12.57px;
        height: 100%;
    }
    .services-section1-box {
        all: unset;
        width: 161px;
        height: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10.93px;
        background-color: #FFFFFF;
        border-radius: 20.93px;
        box-shadow: 0px 2.19px 6.56px rgba(0, 0, 0, 0.1);
    }
    .services-section1-box-text {
        font-size: 16.39px;
        line-height: 16.39px;
    }
    .services-section1-text {
        display: none;
    }
    .services-section1-text2 {
        display: block;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        text-transform: capitalize;
        font-weight: 500;
        max-width: 435px;
    }
    .services-sections-wrapper {
        display: flex;
        gap: 100px;
    }
    .services-section2 {
        all: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
    .services-section1-box2 {
        all: unset;
        width: 161px;
        height: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10.93px;
        background-color: #25A0A0;
        border-radius: 20.93px;
        box-shadow: 0px 2.19px 6.56px rgba(0, 0, 0, 0.1);
    }
    .services-section1-box-text2 {
        font-size: 16.39px;
        line-height: 16.39px;
    }
  }

  /**! BIG TABS AND IPAD PRO*/
@media screen and (min-width: 933px) and (max-width: 1024px) {
    .services-container {
        padding: 140px 0px;
        background-color: #FFFFFF80;
        position: relative;
        padding-right: 0px;
        height: 610px;
    }
    .services-icon1 {
        right: 0px;
        left: unset;
        width: 153px;
        height: 169px;
    }
    .services-icon2 {
        display: none;
    }
    .services-icon3 {
        right: 0px;
        top: 645px;
        height: 197px;
    }
    .services-section1 {
        padding-left: 40px;
        padding-right: 40px;
        justify-content: center;
    }
    .services-section1-text{
        font-size: 40px;
        line-height: 40px;
    }
    .services-section1-box {
        width: 165px;
        height: 96px;
    }
    .services-sections-box-icon {
        height: 100px;
        width: 100px;
    }
    .services-section1-box-text {
        font-size: 18px;
        line-height: 18px;
    }
    .services-section2 {
        flex-wrap: wrap;
        left: 427px;
        padding-top: 20px;
    }
    .services-section1-box2 {
        width: 165px;
        height: 96px;
    }
  }

  /**! SMALL LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1025px) and (max-width: 1103px) {
    .services-container {
        padding: 140px 0px;
        background-color: #FFFFFF80;
        position: relative;
        padding-right: 0px;
        height: 610px;
    }
    .services-icon1 {
        right: 0px;
        left: unset;
        width: 153px;
        height: 169px;
    }
    .services-icon2 {
        display: none;
    }
    .services-icon3 {
        right: 0px;
        top: 645px;
        height: 197px;
    }
    .services-section1 {
        padding-left: 40px;
        padding-right: 40px;
        justify-content: center;
    }
    .services-section1-text{
        font-size: 40px;
        line-height: 40px;
    }
    .services-section1-box {
        width: 165px;
        height: 96px;
    }
    .services-sections-box-icon {
        height: 100px;
        width: 100px;
    }
    .services-section1-box-text {
        font-size: 18px;
        line-height: 18px;
    }
    .services-section2 {
        flex-wrap: wrap;
        left: 427px;
        padding-top: 20px;
    }
    .services-section1-box2 {
        width: 165px;
        height: 96px;
    }
  }

  /**! MEDIUM LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1104px) and (max-width: 1388px) {
    .services-container {
        padding: 140px 0px;
        background-color: #FFFFFF80;
        position: relative;
        padding-right: 0px;
        height: 610px;
    }
    .services-icon1 {
        right: 0px;
        left: unset;
        width: 153px;
        height: 169px;
    }
    .services-icon2 {
        display: none;
    }
    .services-icon3 {
        right: 0px;
        top: 645px;
        height: 197px;
    }
    .services-section1 {
        padding-left: 40px;
        padding-right: 40px;
        justify-content: center;
    }
    .services-section1-text{
        font-size: 40px;
        line-height: 40px;
    }
    .services-section1-box {
        width: 165px;
        height: 96px;
    }
    .services-sections-box-icon {
        height: 100px;
        width: 100px;
    }
    .services-section1-box-text {
        font-size: 18px;
        line-height: 18px;
    }
    .services-section2 {
        flex-wrap: wrap;
        left: 427px;
        padding-top: 20px;
    }
    .services-section1-box2 {
        width: 165px;
        height: 96px;
    }
  }
  