.about-us-container {
    position: relative;
}
.au-section1 {
    padding: 0px 170px;
    padding-top: 170px;
    padding-bottom: 75px;
}
.au-section1-background {
    width: 70%;
    height: 664px;
    background-color: #25A0A014;
    position: absolute;
    top: 0px;
    right: 0px;
}
.au-section1-content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.au-section1-content1 {
}
.au-section1-content1-text1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #0000004D;
    margin: 0px;
    margin-bottom: 31px;
}
.au-section1-content1-text2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    text-transform: capitalize;
    max-width: 700px;
}
.au-section1-content1-text3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #00000099;
    max-width: 620px;
    text-transform: capitalize;
}
.au-section1-content-image {
    width: 586px;
    height: 421px;
}
.au-section2 {
    padding: 0px 170px;
    padding-top: 127px;
    background-color: #F7FCFC;
}
.au-section2-content1 {
}
.au-section2-content1-text1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize;
    max-width: 450px;
    margin: 0px;
    margin-bottom: 25px;
    color: #000000;
}
.au-section2-content1-text2 {
    margin: 0px;
    font-size: 20px;
    line-height: 20px;
    color: #00000080;
    max-width: 900px;
    margin-bottom: 75px;
}
.au-section2-content2 {
    margin-top: 42px;
    display: flex;
    gap: 30px;
}
.au-section2-content2-image {
    width: 734px;
}
.au-section2-content2-image2 {
    width: 734px;
}
.au-section2-content2-text-wrapper {
    padding: 111px 41px;
    background-color: #25A0A00D;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 30px;
}
.au-section2-content2-text-wrapper2 {
    padding: 90px 41px;
    background-color: #25A0A00D;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 30px;
}
.au-section2-content2-text1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin: 0px;
}
.au-section2-content2-text2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0px;
    color: #00000080;
}
.au-section3 {
    padding: 127px 170px;
    padding-bottom: 149px;
    display: flex;
    gap: 51px;
    background-color: #F7FCFC;
}
.au-section3-left {
}
.au-section3-left-text1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 25px;
}
.au-section3-left-text2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 74px;
    max-width: 80%;
    color: #00000080;
}
.au-section3-left-image {
    width: 516px;
}
.au-section3-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 23px;
}
.au-section3-right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 215px;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    padding: 36px 0px;
    transition: all 0.25s ease;
}
.au-section3-right-box:hover {
    background-color: #25A0A0;
}
.au-section3-right-box-icon {
    height: 40px;
    width: 40px;
    color: #25A0A0;
    transition: all 0.25s ease;
}
.au-section3-right-box:hover .au-section3-right-box-icon {
    color: #FFFFFF;
}
.au-section3-right-box-text {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    transition: 0.25s ease;
    text-transform: capitalize;
}
.au-section3-right-box:hover .au-section3-right-box-text {
    color: #FFFFFF;
}
.au-section3-right-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 146px;
    width: 215px;
    background-color: #25A0A0;
    border-radius: 20px;
    cursor: pointer;
    padding: 36px 0px;
    transition: background-color 0.25s ease;
}
.au-section3-right-box2:hover {
    background-color: #FFFFFF;
}
.au-section3-right-box-icon2 {
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    transition: color 0.25s ease;
}
.au-section3-right-box2:hover .au-section3-right-box-icon2 {
    color: #25A0A0;
}
.au-section3-right-box-text2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    transition: color 0.25s ease;
    text-transform: capitalize;
}
.au-section3-right-box2:hover .au-section3-right-box-text2 {
    color: #000000;
}

/**! MOBILE PHONE STYLES DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .au-section1 {
        padding: 0px 20px;
        padding-top: 135px;
        padding-bottom: 90px;
        background-color: #EEF7F7;
    }
    .au-section1-background {
        display: none;
    }
    .au-section1-content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .au-section1-content1-text1 {
        display: none;
    }
    .au-section1-content1 {
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
        justify-content: center;
    }
    .au-section1-content1-text2 {
        font-size: 25px;
        line-height: 34.1px;
        max-width: 335px;
        text-align: center;
        margin: 0px;
    }
    .au-section1-content1-text3 {
        font-size: 14px;
        line-height: 14px;
        max-width: 335px;
        margin: 0px;
        text-align: center;
    }
    .au-section1-content-image {
        width: 274px;
        height: 199.4px;
    }
    .au-section2 {
        padding: 32px 20px;
    }
    .au-section2-content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .au-section2-content1-text1 {
        font-size: 20px;
        line-height: 20px;
        max-width: 175px;
        margin-bottom: 0px;
        text-align: center;
    }
    .au-section2-content1-text2 {
        font-size: 14px;
        line-height: 14px;
        max-width: 335px;
        text-align: center;
        margin-bottom: 0px;
    }
    .au-section2-content2 {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
    }
    .au-section2-content2-image {
        order: 2;
        width: 335px;
    }
    .au-section2-content2-text-wrapper {
        order: 1;
        padding: 73px 25px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-text1 {
        font-size: 25.97px;
        line-height: 25.97px;
        text-align: center;
    }
    .au-section2-content2-text2 {
        font-size: 16.23px;
        line-height: 16.23px;
        max-width: 282.41px;
        text-align: center;
    }
    .au-section2-content2-text-wrapper2 {
        padding: 73px 25px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-image2 {
        width: 335px;
    }
}

/**! IPAD AIR, IPAD MINI AND SMALL TABS*/
@media screen and (min-width: 768px) and (max-width: 932px) {
    .au-section1 {
        padding: 0px 20px;
        padding-top: 135px;
        padding-bottom: 90px;
        background-color: #EEF7F7;
    }
    .au-section1-background {
        display: none;
    }
    .au-section1-content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    .au-section1-content1-text1 {
        display: none;
    }
    .au-section1-content1 {
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
        justify-content: center;
    }
    .au-section1-content1-text2 {
        font-size: 25px;
        line-height: 34.1px;
        max-width: 535px;
        text-align: center;
        margin: 0px;
    }
    .au-section1-content1-text3 {
        font-size: 16px;
        line-height: 16px;
        max-width: 435px;
        margin: 0px;
        text-align: center;
    }
    .au-section1-content-image {
        width: 374px;
        height: 299.4px;
    }
    .au-section2 {
        padding: 32px 20px;
    }
    .au-section2-content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .au-section2-content1-text1 {
        font-size: 25px;
        line-height: 25px;
        max-width: 535px;
        margin-bottom: 0px;
        text-align: center;
    }
    .au-section2-content1-text2 {
        font-size: 16px;
        line-height: 16px;
        max-width: 535px;
        text-align: center;
        margin-bottom: 0px;
    }
    .au-section2-content2 {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
    }
    .au-section2-content2-image {
        order: 2;
        width: 685px;
    }
    .au-section2-content2-text-wrapper {
        order: 1;
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-text1 {
        font-size: 25.97px;
        line-height: 25.97px;
        text-align: center;
    }
    .au-section2-content2-text2 {
        font-size: 16.23px;
        line-height: 16.23px;
        max-width: 582.41px;
        text-align: center;
    }
    .au-section2-content2-text-wrapper2 {
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-image2 {
        width: 685px;
    }
  }

  /**! BIG TABS AND IPAD PRO*/
@media screen and (min-width: 933px) and (max-width: 1024px) {
    .au-section1 {
        padding: 0px 20px;
        padding-top: 135px;
        padding-bottom: 90px;
        background-color: #EEF7F7;
    }
    .au-section1-background {
        display: none;
    }
    .au-section1-content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    .au-section1-content1-text1 {
        display: none;
    }
    .au-section1-content1 {
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
        justify-content: center;
    }
    .au-section1-content1-text2 {
        font-size: 25px;
        line-height: 34.1px;
        max-width: 735px;
        text-align: center;
        margin: 0px;
    }
    .au-section1-content1-text3 {
        font-size: 16px;
        line-height: 16px;
        max-width: 635px;
        margin: 0px;
        text-align: center;
    }
    .au-section1-content-image {
        width: 424px;
        height: 349.4px;
    }
    .au-section2 {
        padding: 32px 20px;
    }
    .au-section2-content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .au-section2-content1-text1 {
        font-size: 25px;
        line-height: 25px;
        max-width: 735px;
        margin-bottom: 0px;
        text-align: center;
    }
    .au-section2-content1-text2 {
        font-size: 16px;
        line-height: 16px;
        max-width: 635px;
        text-align: center;
        margin-bottom: 0px;
    }
    .au-section2-content2 {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
    }
    .au-section2-content2-image {
        order: 2;
        width: 885px;
    }
    .au-section2-content2-text-wrapper {
        order: 1;
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-text1 {
        font-size: 25.97px;
        line-height: 25.97px;
        text-align: center;
    }
    .au-section2-content2-text2 {
        font-size: 16.23px;
        line-height: 16.23px;
        max-width: 782.41px;
        text-align: center;
    }
    .au-section2-content2-text-wrapper2 {
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-image2 {
        width: 885px;
    }
  }

  /**! SMALL LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1025px) and (max-width: 1103px) {
    .au-section1 {
        padding: 0px 20px;
        padding-top: 135px;
        padding-bottom: 90px;
        background-color: #EEF7F7;
    }
    .au-section1-background {
        display: none;
    }
    .au-section1-content-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    .au-section1-content1-text1 {
        display: none;
    }
    .au-section1-content1 {
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
        justify-content: center;
    }
    .au-section1-content1-text2 {
        font-size: 25px;
        line-height: 34.1px;
        max-width: 735px;
        text-align: center;
        margin: 0px;
    }
    .au-section1-content1-text3 {
        font-size: 16px;
        line-height: 16px;
        max-width: 635px;
        margin: 0px;
        text-align: center;
    }
    .au-section1-content-image {
        width: 424px;
        height: 349.4px;
    }
    .au-section2 {
        padding: 32px 20px;
    }
    .au-section2-content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .au-section2-content1-text1 {
        font-size: 25px;
        line-height: 25px;
        max-width: 735px;
        margin-bottom: 0px;
        text-align: center;
    }
    .au-section2-content1-text2 {
        font-size: 16px;
        line-height: 16px;
        max-width: 635px;
        text-align: center;
        margin-bottom: 0px;
    }
    .au-section2-content2 {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
    }
    .au-section2-content2-image {
        order: 2;
        width: 885px;
    }
    .au-section2-content2-text-wrapper {
        order: 1;
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-text1 {
        font-size: 25.97px;
        line-height: 25.97px;
        text-align: center;
    }
    .au-section2-content2-text2 {
        font-size: 16.23px;
        line-height: 16.23px;
        max-width: 782.41px;
        text-align: center;
    }
    .au-section2-content2-text-wrapper2 {
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-image2 {
        width: 885px;
    }
  }

  /**! MEDIUM LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1104px) and (max-width: 1388px) {
    .au-section1 {
        padding: 0px 20px;
        padding-top: 135px;
        padding-bottom: 180px;
        background-color: #EEF7F7;
    }
    
    .au-section1-content1-text1 {
        display: none;
    }
    .au-section1-content1 {
        display: flex;
        flex-direction: column;
        gap: 23px;
        justify-content: center;
        padding-left: 20px;
    }
    .au-section1-content1-text2 {
        font-size: 45px;
        line-height: 35.1px;
        margin: 0px;
    }
    
    .au-section2 {
        padding: 32px 20px;
    }
    .au-section2-content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .au-section2-content1-text1 {
        font-size: 40px;
        line-height: 40px;
        max-width: 735px;
        margin-bottom: 0px;
        text-align: center;
    }
    .au-section2-content1-text2 {
        text-align: center;
        margin-bottom: 0px;
    }
    .au-section2-content2 {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
    }
    .au-section2-content2-image {
        order: 2;
        width: 1182px;
    }
    .au-section2-content2-text-wrapper {
        order: 1;
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-text1 {
        text-align: center;
    }
    .au-section2-content2-text2 {
        max-width: 1082.41px;
        text-align: center;
    }
    .au-section2-content2-text-wrapper2 {
        padding: 73px 55px;
        gap: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 19.48px;
    }
    .au-section2-content2-image2 {
        width: 1182px;
    }
  }