.teams-container {
    padding: 149px 0px;
    padding-right: 170px;
    padding-left: 150px;
}
.teams-section1 {
    margin-bottom: 68px;
}
.teams-section1-text1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    color: #000000B2;
    text-transform: capitalize;
    width: 611px;
}
.teams-section1-text1-span {
    color: #00000066;
}
.teams-section2-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 36.5px;
    width: 100%;
}
.team-details {
}
.team-details-image {
    height: 231px;
    margin-bottom: 18px;
}
.team-details-name {
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
    margin: 0px;
    margin-bottom: 12px;
}
.team-details-title {
    font-size: 15px;
    line-height: 15px;
    width: 220px;
    text-transform: capitalize;
    color: #00000080;
    margin: 0px;
}   
.teams-section3 {
    font-size: 25px;
    line-height: 25px;
    color: #00000066;
    margin-top: 78px;
}

/**! MOBILE STYLE DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .teams-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 49px 20px;
    }
    .teams-section1 {
        margin-bottom: 38px;
    }
    .teams-section1-text1 {
        font-size: 26.56px;
        line-height: 26.56px;
        width: 314.79px;
        text-align: center;
    }
    .teams-section2-wrapper {
        justify-content: center;
        align-items: center;
        gap: 24.29px;
    }
    .team-details-image {
        height: 144.72px;
        margin-bottom: 9.77px;
    }
    .team-details-name {
        font-size: 16.61px;
        line-height: 16.61px;
        margin-bottom: 6.64px;
    }
    .team-details-title {
        font-size: 13.07px;
        line-height: 13.07px;
        font-weight: 400;
        max-width: 155.04px;
    }
    .teams-section3 {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
    }
}