.os-container {
    padding-top: 127px;
}
.os-section1 {
    padding: 0px 170px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 133px;
}
.os-section1-text1 {
    color: #000000;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize;
    margin: 0px;
}
.os-section1-text2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #00000080;
    margin: 0px;
}
.os-section2 {
    padding: 0px 170px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 127px;
}
.os-section2-content1 {
    display: flex;
    gap: 61px;  

}
.os-section2-content1-image {
    height: 399px;
    border-radius: 20px;
}
.os-section2-content1-image2 {
    height: 399px;
    border: 1px solid purple;
    border-radius: 20px;
}
.os-section2-content1-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.os-section2-content1-text1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-transform: capitalize;
    margin: 0px;
}
.os-section2-content1-text2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #00000080;
    margin: 0px;
    max-width: 724px;
}
.oww-section2-content1-wrapper {
    padding-top: 120px;
    background-color: #2A69FC;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.oww-section2-content1-background {
    margin: 0px;
    color: #FFFFFF0D;
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    position: absolute;
    top: 30%;
    left: 12.5%;
    
}
.oww-section2-content1-image-cont {
    z-index: 1;
    margin-bottom: 43px;
}
.oww-section2-content1-image {
    height: 523px;
}
.oww-section2-content1-text-cont {
    padding: 0px 217px;
}
.oww-section2-content1-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.oww-section2-content1-body {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF99;
    margin: 0px;
}
.oww-section2-content1-tags {
    margin-top: 20px;
}
.oww-section2-content1-tags-cont {
    display: flex;
    align-items: center;
    gap: 16px;
}
.oww-section2-content1-tag1 {
    color: #FFFFFF;
    padding: 10px;
    background-color: #FFFFFF1A;
    border-radius: 5px;
}
.oww-section2-content1-source-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 27px;
}
.oww-section2-content1-sample {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.oww-icon {
    width: 25px;
    height: 25px;
    transition: opacity 0.25s ease;
}
.oww-section2-content1-sample:hover .oww-icon {
    opacity: 0.5;
}
.oww-section2-content1-source:hover .oww-icon {
    opacity: 0.5;
}
.oww-section2-content1-sample-text {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    align-self: flex-end;
    transition: opacity 0.25s ease;
}
.oww-section2-content1-sample:hover .oww-section2-content1-sample-text {
    opacity: 0.5;
}
.oww-section2-content1-source {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.oww-section2-content1-source-text {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    align-self: flex-end;
    transition: opacity 0.25s ease;
}
.oww-section2-content1-source:hover .oww-section2-content1-source-text {
    opacity: 0.5;
}

/**! MOBILE PHONE STYLES DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .os-section1 {
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 22px;
    }
    .os-section1-text1 {
        font-size: 25px;
        line-height: 25px;
        text-align: center;
    }
    .os-section1-text2 {
        font-size: 15px;
        line-height: 15px;
        max-width: 335px;
        text-align: center;
    }
    .os-section2 {
        padding: 0px 20px;
        gap: 50px;
        margin-bottom: 23px;
    }
    .os-section2-content1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .os-section2-content1-image {
        width: 335px;
        height: 250.17px;
    }
    .os-section2-content1-text-wrapper {
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .os-section2-content1-text1 {
        font-size: 25px;
        line-height: 25px;
        text-align: center;
    }
    .os-section2-content1-text2 {
        font-size: 15px;
        line-height: 15px;
        max-width: 335px;
        text-align: center;
    }
    .oww-section2-content1-wrapper {
        padding: 39px 0px;
    }
    .oww-section2-content1-background {
        font-size: 37.19px;
        line-height: 37.19px;
    }
    .oww-section2-content1-image {
        height: 211.66px;
    }
    .oww-section2-content1-text-cont {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8.4px;
    }
    .oww-section2-content1-title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0px;
        max-width: 250px;
        text-align: center;
    }
    .oww-section2-content1-body {
        font-size: 14px;
        line-height: 14px;
        max-width: 333px;
        text-align: center;
    }
    .oww-section2-content1-tags {
        margin-top: 6.72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .oww-section2-content1-tags-cont {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        
    }
    .oww-section2-content1-tag1 {
        font-size: 14.11px;
        line-height: 14.11px;
        padding: 5px;
        border-radius: 2.53px;
        margin: 0px;
    }
    .oww-section2-content1-source-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .oww-icon {
        width: 13.5px;
        height: 13.5px;
    }
    .oww-section2-content1-sample-text {
        font-size: 13px;
        line-height: 13px;
    }
    .oww-section2-content1-source-text {
        font-size: 13px;
        line-height: 13px;
    }
}

/**! IPAD AIR, IPAD MINI AND SMALL TABS*/
@media screen and (min-width: 768px) and (max-width: 932px) {
    .os-section1 {
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 62px;
    }
    .os-section1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 655px;
        text-align: center;
    }
    .os-section2 {
        padding: 0px 20px;
        gap: 50px;
        margin-bottom: 23px;
    }
    .os-section2-content1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .os-section2-content1-text-wrapper {
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .os-section2-content1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section2-content1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 655px;
        text-align: center;
    }
    .oww-section2-content1-wrapper {
        padding: 39px 0px;
    }
    .oww-section2-content1-background {
        font-size: 67.19px;
        line-height: 67.19px;
        left: 16.5%;
    }
    .oww-section2-content1-image {
        height: 361.66px;
    }
    .oww-section2-content1-text-cont {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8.4px;
    }
    .oww-section2-content1-title {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        text-align: center;
    }
    .oww-section2-content1-body {
        font-size: 18px;
        line-height: 18px;
        max-width: 733px;
        text-align: center;
    }
    .oww-section2-content1-tags {
        margin-top: 6.72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .oww-section2-content1-tags-cont {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        
    }
    .oww-section2-content1-tag1 {
        font-size: 14.11px;
        line-height: 14.11px;
        padding: 5px;
        border-radius: 2.53px;
        margin: 0px;
    }
    .oww-section2-content1-source-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .oww-icon {
        width: 13.5px;
        height: 13.5px;
    }
    .oww-section2-content1-sample-text {
        font-size: 13px;
        line-height: 13px;
    }
    .oww-section2-content1-source-text {
        font-size: 13px;
        line-height: 13px;
    }
  }


  /**! BIG TABS AND IPAD PRO*/
@media screen and (min-width: 933px) and (max-width: 1024px) {
    .os-section1 {
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 62px;
    }
    .os-section1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 655px;
        text-align: center;
    }
    .os-section2 {
        padding: 0px 20px;
        gap: 50px;
        margin-bottom: 23px;
    }
    .os-section2-content1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .os-section2-content1-text-wrapper {
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .os-section2-content1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section2-content1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 655px;
        text-align: center;
    }
    .oww-section2-content1-wrapper {
        padding: 39px 0px;
    }
    .oww-section2-content1-background {
        font-size: 67.19px;
        line-height: 67.19px;
        left: 16.5%;
    }
    .oww-section2-content1-image {
        height: 361.66px;
    }
    .oww-section2-content1-text-cont {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8.4px;
    }
    .oww-section2-content1-title {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        text-align: center;
    }
    .oww-section2-content1-body {
        font-size: 18px;
        line-height: 18px;
        max-width: 863px;
        text-align: center;
    }
    .oww-section2-content1-tags {
        margin-top: 6.72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .oww-section2-content1-tags-cont {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        
    }
    .oww-section2-content1-tag1 {
        font-size: 14.11px;
        line-height: 14.11px;
        padding: 5px;
        border-radius: 2.53px;
        margin: 0px;
    }
    .oww-section2-content1-source-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .oww-icon {
        width: 13.5px;
        height: 13.5px;
    }
    .oww-section2-content1-sample-text {
        font-size: 13px;
        line-height: 13px;
    }
    .oww-section2-content1-source-text {
        font-size: 13px;
        line-height: 13px;
    }
  }

  /**! SMALL LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1025px) and (max-width: 1103px) {
    .os-section1 {
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 62px;
    }
    .os-section1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 855px;
        text-align: center;
    }
    .os-section2 {
        padding: 0px 20px;
        gap: 50px;
        margin-bottom: 23px;
    }
    .os-section2-content1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .os-section2-content1-text-wrapper {
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .os-section2-content1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section2-content1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 855px;
        text-align: center;
    }
    .oww-section2-content1-wrapper {
        padding: 39px 0px;
    }
    .oww-section2-content1-background {
        font-size: 67.19px;
        line-height: 67.19px;
        left: 16.5%;
    }
    .oww-section2-content1-image {
        height: 361.66px;
    }
    .oww-section2-content1-text-cont {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8.4px;
    }
    .oww-section2-content1-title {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        text-align: center;
    }
    .oww-section2-content1-body {
        font-size: 18px;
        line-height: 18px;
        max-width: 863px;
        text-align: center;
    }
    .oww-section2-content1-tags {
        margin-top: 6.72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .oww-section2-content1-tags-cont {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        
    }
    .oww-section2-content1-tag1 {
        font-size: 14.11px;
        line-height: 14.11px;
        padding: 5px;
        border-radius: 2.53px;
        margin: 0px;
    }
    .oww-section2-content1-source-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .oww-icon {
        width: 13.5px;
        height: 13.5px;
    }
    .oww-section2-content1-sample-text {
        font-size: 13px;
        line-height: 13px;
    }
    .oww-section2-content1-source-text {
        font-size: 13px;
        line-height: 13px;
    }
  }

  /**! MEDIUM LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1104px) and (max-width: 1388px) {
    .os-section1 {
        padding: 0px 20px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 62px;
    }
    .os-section1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 955px;
        text-align: center;
    }
    .os-section2 {
        padding: 0px 20px;
        gap: 50px;
        margin-bottom: 23px;
    }
    .os-section2-content1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .os-section2-content1-text-wrapper {
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .os-section2-content1-text1 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    .os-section2-content1-text2 {
        font-size: 17px;
        line-height: 17px;
        max-width: 1155px;
        text-align: center;
    }
    .oww-section2-content1-wrapper {
        padding: 39px 0px;
    }
    .oww-section2-content1-background {
        font-size: 87.19px;
        line-height: 87.19px;
        left: 25%;
    }
    .oww-section2-content1-image {
        height: 361.66px;
    }
    .oww-section2-content1-text-cont {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8.4px;
    }
    .oww-section2-content1-title {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        text-align: center;
    }
    .oww-section2-content1-body {
        font-size: 18px;
        line-height: 18px;
        max-width: 1153px;
        text-align: center;
    }
    .oww-section2-content1-tags {
        margin-top: 6.72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .oww-section2-content1-tags-cont {
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        
    }
    .oww-section2-content1-tag1 {
        font-size: 14.11px;
        line-height: 14.11px;
        padding: 5px;
        border-radius: 2.53px;
        margin: 0px;
    }
    .oww-section2-content1-source-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .oww-icon {
        width: 13.5px;
        height: 13.5px;
    }
    .oww-section2-content1-sample-text {
        font-size: 13px;
        line-height: 13px;
    }
    .oww-section2-content1-source-text {
        font-size: 13px;
        line-height: 13px;
    }
  }