.wu-container {
    padding: 37px 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wu-text1 {
    text-align: center;
    color: #0000004D;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    margin: 0px;
}
.wu-text2 {
    color: #000000;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 21px;
    width: 840px;
}
.wu-image {
    margin-top: 61px;
    height: 738px;
    width: 1580px;
}
.wu-section1 {
    background-color: #EB8087;
    height: 648px;
    width: 1280px;
    border-radius: 30px;
    margin-top: 51px;
}
