.faq-container {
    background-color: #E5F4F44D;
    padding: 100px 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq-top-text-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq-text1 {
    margin: 0px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    color: #0000004D;
    margin-bottom: 31px;
}
.faq-text2 {
    margin: 0px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
    color: #000000;
}
.faq-answers-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    margin-top: 40px;
    
}
.faq-answers1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 666px;
}
.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 19px;
    border: 1px solid #00000033;
    border-radius: 20px;
    transition: border-color 0.35s ease;
    cursor: pointer;
    gap: 10px;
}

.faq:hover {
    border-color: #25A0A0;
}
.faq-selected {
    display: flex;
    flex-direction: column;
    padding: 25px 19px;
    border-radius: 20px;
    transition: border-color 0.35s ease;
    cursor: pointer;
    gap: 10px;
    background-color: #25A0A0;
}
.faq-selected-answer {
    font-size: 19px;
    line-height: 18.2px;
    color: #FFFFFFCC;
    font-weight: 400;
}
.faq-question {
    font-size: 20px;
    line-height: 20px;
    color: #000000CC;
    margin: 0px;
    max-width: 506px;
    font-weight: 500;
}
.faq-question-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
}
.faq-icon {
    font-size: 40px;
    line-height: 40px;
    color: #000000CC;
    margin: 0px;
}
.faq-answers2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 666px;
}

/**! MOBILE STYLES DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .faq-container {
        display: flex;
        padding: 17px 20px;
    }
    .faq-text1 {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 16px;
    }
    .faq-text2 {
        font-size: 26.56px;
        line-height: 26.56px;
        margin-bottom: 14px;
        color: #000000B2;
    }
    .faq-answers-wrapper {
        all: unset;
        display: flex;
        flex-direction: column;
        gap: 8.79px;
        margin-top: 0px;
    }
    .faq-answers1 {
        display: flex;
        flex-direction: column;
        gap: 8.79px;
        margin-top: 0px;
        width: 335px;
    }
    .faq-answers2 {
        display: flex;
        flex-direction: column;
        gap: 8.79px;
        margin-top: 0px;
        width: 335px;
    }
    .faq {
        padding: 10.39px 8.35px;
        border-radius: 8.79px;
    }
    .faq-selected {
        padding: 10.39px 8.35px;
        border-radius: 8.79px;
    }
    .faq-question {
        font-size: 14.99px;
        line-height: 14.99px;
        max-width: 284px;
    }
    .faq-icon {
        font-size: 20.99px;
        line-height: 20.99px;
    }
    .faq-selected-answer {
        font-size: 13.59px;
        line-height: 13.59px;
        color: #ffffff80;
    }
}
