.cu-container {
    display: flex;
    gap: 40px;
}
.cu-left-section {
    padding: 95px 0px;
    padding-left: 100px;
}
.cu-text1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    color: #000000;
    margin: 0px;
}
.cu-text2 {
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 22px;
}
.cu-form {
    padding: 48px;
    background-color: #25A0A00D;
    margin-top: 25px;
    border-radius: 20px;
    width: fit-content;
    width: -moz-fit-content;
}
.cu-form-label {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
.cu-input-wrapper {
    margin-top: 12px;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    gap: 17px;
    border: 1px solid #0000004D;
    padding: 29px 21px;
    width: 493px;
    border-radius: 15px;
}
.cu-input {
    all: unset;
    font-size: 20px;
    width: 100%;
}

.cu-message-wrapper {
}
.cu-input2 {
    outline: none;
    background: none;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    gap: 17px;
    border: 1px solid #0000004D;
    padding: 29px 21px;
    width: 493px;
    border-radius: 15px;
    color: #000000;
    height: 197px;
    resize: none;
    scrollbar-width: none;
}
.cu-form-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #25A0A0;
    width: 100%;
    color: #ffffff;
    padding: 5px 0px;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
}
.cu-form-button-icon {
    width: 25px;
    height: 25px;
}
.cu-right-section-image {
    width: 768px;
  
}

/**! MOBILE PHONE STYLES DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .cu-container {
        flex-direction: column;
        gap: 0px;
    }
    .cu-left-section {
        padding: 35px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cu-right-section-image {
        display: none;
    }
    .cu-text1 {
        font-size: 30px;
        line-height: 30px;
    }
    .cu-text2 {
        font-size: 15.09px;
        line-height: 15.09px;
        margin-top: 9px;
        max-width: 335px;
        text-align: center;
    }
    .cu-form {
        padding: 23.34px;
        border-radius: 9.72px;
        width: 335px;
    }
    .cu-form-label {
        font-size: 12.16px;
        line-height: 12.16px;
    }
    .cu-input-wrapper {
        padding: 14.1px 10px;
        border-radius: 7.29px;
        width: 93%;
        gap: 8.27px;
    }
    .cu-input {
        font-size: 12.72px;
        line-height: 12.72px;
    }
    .cu-input2 {
        width: 288.32px;
        font-size: 12.72px;
    }
    .cu-form-button {
        font-size: 14.72px;
        border-radius: 48.62px;
        gap: 4.86px;
    }
    .cu-form-button-icon {
        width: 14.72px;
        height: 14.72px;
    }
}