:root {
  font-family: "Josefin Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  
}

/**! MOBILE PHONE SCREENS DO NOT TOUCH*/
@media screen and (max-width: 767px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
}

/**! IPAD AIR, IPAD MINI AND SMALL TABS*/
@media screen and (min-width: 768px) and (max-width: 932px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
}

/**! BIG TABS AND IPAD PRO*/
@media screen and (min-width: 933px) and (max-width: 1024px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
}

/**! SMALL LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1025px) and (max-width: 1103px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
}

/**! MEDIUM LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1104px) and (max-width: 1388px) {
  body, html {
    max-width: 100%;
    overflow-x: hidden;
  }
}






