.home-page-container {
}
.latest-projects-container {
    margin-top: 81px;
    background-color: #FFE5B1;
    position: relative;
    padding: 0px 170px ;
    padding-top: 151px;
    padding-bottom: 166px;
}
.lp-text-cont {
    position: absolute;
    top: 69.94px;
    left: 160px;
}
.lp-text1 {
    color: #25A0A0;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    transform: rotate(-10deg);
}
.lp-text2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    color: #000000;
    padding-left: 33px;
}
.arrow-up-right-16 {
    position: absolute;
    bottom: 31px;
    right: 253px;
    cursor: pointer;
}
.lp-samples-container {
    display: flex;
    gap: 63px;
}
.lp-sample1 {
    padding-top: 40px;
    border-top: 1px solid #000000;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 214px;
}
.lp-sample2 {
    padding-top: 40px;
    border-top: 1px solid #000000;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 121px;
}
.lp-sample3 {
    padding-top: 40px;
    border-top: 1px solid #000000;
    width: fit-content;
    width: -moz-fit-content;
}
.lp-sample1-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.lp-sample1-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    width: 282px;
    margin: 0px;
}
.lp-sample1-icon-wrapper {
    all: unset;
    height: 53px;
    width: 53px;
    border-radius: 50px;
    background-color: #25A0A0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lp-sample1-img {
    width: 378px;
    height: 252px;
}
.tools-container {
    height: 431px;
    background-color: #25A0A01F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tools-text {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-weight: 600;
    width: 809px;
    text-transform: capitalize;
    margin-bottom: 102px;
}
.tools-carousel {
    display: flex;
    align-items: center;
}

/**! MOBILE PHONE STYLES DO NOT TOUCH */
@media screen and (max-width: 767px) {
    .latest-projects-container {
        margin-top: 14px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lp-text-cont {
        all: unset;
    }
    .lp-text1 {
        font-size: 8px;
        line-height: 8px;
    }
    .lp-text2 {
        font-size: 30px;
        line-height: 30px;
        padding-left: 19.15px;
        font-weight: 600;
    }
    .arrow-up-right-16 {
        display: none;
    }
    .lp-samples-container {
        flex-direction: column;
        gap: 34px;
    }
    .lp-sample1 {
        margin-top: 0px;
    }
    .lp-sample2 {
        margin-top: 0px;
    }
    .lp-sample1-text {
        font-size: 28.03px;
        line-height: 28.03px;
    }
    .lp-sample1-img {
        height: 246px;
        width: 335px;
    }
    .tools-container {
        height: 248px;
    }
    .tools-text {
        color: #000000B2;
        font-size: 26.56px;
        line-height: 26.56px;
        text-align: center;
        width: 314.79px;
        margin-bottom: 26px;
    }
}

/**! IPAD AIR, IPAD MINI AND SMALL TABS*/
@media screen and (min-width: 768px) and (max-width: 932px) {
    .latest-projects-container {
        margin-top: 14px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lp-text-cont {
        all: unset;
    }
    .lp-text1 {
        font-size: 8px;
        line-height: 8px;
    }
    .lp-text2 {
        font-size: 30px;
        line-height: 30px;
        padding-left: 19.15px;
        font-weight: 600;
    }
    .arrow-up-right-16 {
        display: none;
    }
    .lp-samples-container {
        flex-direction: column;
        gap: 34px;
    }
    .lp-sample1 {
        margin-top: 0px;
    }
    .lp-sample2 {
        margin-top: 0px;
    }
    .lp-sample1-text {
        font-size: 28.03px;
        line-height: 28.03px;
    }
    .lp-sample1-img {
        height: 346px;
        width: 505px;
    }
    .tools-container {
        height: 248px;
    }
    .tools-text {
        color: #000000B2;
        font-size: 26.56px;
        line-height: 26.56px;
        text-align: center;
        width: 314.79px;
        margin-bottom: 26px;
    }
  }

  /**! BIG TABS AND IPAD PRO*/
@media screen and (min-width: 933px) and (max-width: 1024px) {
    .latest-projects-container {
        margin-top: 14px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lp-text-cont {
        all: unset;
    }
    .lp-text1 {
        font-size: 8px;
        line-height: 8px;
    }
    .lp-text2 {
        font-size: 30px;
        line-height: 30px;
        padding-left: 19.15px;
        font-weight: 600;
    }
    .arrow-up-right-16 {
        display: none;
    }
    .lp-samples-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 64px;
        margin-top: 60px;
    }
    .lp-sample1 {
        margin-top: 0px;
    }
    .lp-sample2 {
        margin-top: 0px;
    }
    .lp-sample1-text {
        font-size: 28.03px;
        line-height: 28.03px;
    }
    .lp-sample1-img {
        height: 246px;
        width: 405px;
    }
    .tools-container {
        height: 248px;
    }
    .tools-text {
        color: #000000B2;
        font-size: 26.56px;
        line-height: 26.56px;
        text-align: center;
        width: 314.79px;
        margin-bottom: 26px;
    }
  }
  
  /**! SMALL LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1025px) and (max-width: 1103px) {
    .latest-projects-container {
        margin-top: 14px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lp-text-cont {
        all: unset;
    }
    .lp-text1 {
        font-size: 8px;
        line-height: 8px;
    }
    .lp-text2 {
        font-size: 30px;
        line-height: 30px;
        padding-left: 19.15px;
        font-weight: 600;
    }
    .arrow-up-right-16 {
        display: none;
    }
    .lp-samples-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 64px;
        margin-top: 60px;
    }
    .lp-sample1 {
        margin-top: 0px;
    }
    .lp-sample2 {
        margin-top: 0px;
    }
    .lp-sample1-text {
        font-size: 28.03px;
        line-height: 28.03px;
    }
    .lp-sample1-img {
        height: 246px;
        width: 405px;
    }
    .tools-container {
        height: 248px;
    }
    .tools-text {
        color: #000000B2;
        font-size: 26.56px;
        line-height: 26.56px;
        text-align: center;
        width: 314.79px;
        margin-bottom: 26px;
    }
  }

  /**! MEDIUM LAPTOP SCREENS DO NOT TOUCH*/
@media screen and (min-width: 1104px) and (max-width: 1388px) {
    .latest-projects-container {
        margin-top: 14px;
        padding: 40px 20px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lp-text-cont {
        all: unset;
    }
    .lp-text1 {
        font-size: 8px;
        line-height: 8px;
    }
    .lp-text2 {
        font-size: 30px;
        line-height: 30px;
        padding-left: 19.15px;
        font-weight: 600;
    }
    .arrow-up-right-16 {
        display: none;
    }
    .lp-samples-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 64px;
        margin-top: 60px;
    }
    .lp-sample1 {
        margin-top: 0px;
    }
    .lp-sample2 {
        margin-top: 0px;
    }
    .lp-sample1-text {
        font-size: 28.03px;
        line-height: 28.03px;
    }
    .lp-sample1-img {
        height: 221px;
        width: 380px;
    }
    .tools-container {
        height: 248px;
    }
    .tools-text {
        color: #000000B2;
        font-size: 26.56px;
        line-height: 26.56px;
        text-align: center;
        width: 314.79px;
        margin-bottom: 26px;
    }
  }
  
  